<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/ackers-logo.png" alt="The Nook" class="logo">
    </a>

    <button class="navbar-toggler" type="button" aria-label="Toggle navigation" id="navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-menu" id="mainNav">
      <ul class="navbar-nav">
        <li><a href="/" class="nav__link">Home</a></li>
        <li><a href="/#about" class="nav__link">About</a></li>
        <li><a href="/#contact" class="nav__link">Contact</a></li>
        <li><a href="/resume" class="nav__link">Resume</a></li>
        </ul>
    </div>
  </div>
</nav>