#blog {
  margin-top: 5rem;
  border-top: 2px solid gray;
  display: flex;
  justify-content: center;

  .about-blog {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 3.5rem;
    }

    .blog-info {
      font-size: 2rem;

      @media (max-width: 1050px) {
        font-size: 1rem;
      }
    }
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .post {
      justify-content: space-around;
      outline: 4px solid #030027;
      background-color: white;
      width: 30%;
      margin: 20px;
      padding: 2%;
      filter: drop-shadow(+20px 15px 10px darkgrey);
      transition: border 0.5s;

      &:hover {
        outline: 9px solid #030027;
      }

      @media (max-width: 1050px) {
        width: 90%;
        height: inherit;
        display: flex;
        position: relative;
      }

      a {
        font-size: 1.3rem;
        text-decoration: none;
        color: black;

        p {
          font-size: 1rem;
          margin: 0.5rem;
        }
      }
    }
  }
}
