.footer {
  margin-left: 4rem;
  margin-bottom: 5rem;
  width: 90%;
  display: flex;
  justify-content: center;
  footer {
    border-radius: 5rem;
    width: 60%;
    background-color: #030027;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;

    h2 {
      align-self: center;
      color: white;
    }

    .contact {
      display: flex;
      flex-direction: row;
    }
  }
}
