.projects {
  margin-bottom: 2rem;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    align-self: flex-end;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

    .react-card-flip {
      width: 30%;
      padding: 10px;
      display: flex;
      align-content: center;
      margin-top: 1.5rem;

      .react-card-flipper {
        display: flex;
        flex-shrink: inherit;
        width: 30%;
        justify-content: center;

        .react-card-front {
          .card-front {
            border: 4px solid #030027;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .more-info {
              border: 3px solid #030027;
              background-color: #030027;
              color: white;
              padding: 7px;
              border-radius: 5px;
              text-decoration: none;

              &:hover {
                background-color: white;
                color: #030027;
              }
            }
            img {
              max-width: 100%;
              display: flex;
              flex-shrink: inherit;
              width: 26rem;
            }
          }
        }

        .card-back {
          border: 4px solid #030027;
          border-radius: 10px;
          padding: 10px;
          padding: 0.5rem;
          .card-back-links {
            display: flex;
            justify-content: center;
            justify-content: space-around;

            a {
              border: 1px solid #030027;
              background-color: #030027;
              color: white;
              padding: 7px;
              border-radius: 5px;
              text-decoration: none;

              &:hover {
                background-color: white;
                color: #030027;
              }
            }
          }
        }
      }
    }
  }
}
