.projects {
  margin-bottom: 2rem;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    align-self: flex-end;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    .project {
      background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
      justify-content: space-around;
      border-radius: 10px;
      filter: drop-shadow(-20px 10px 20px darkgrey);
      width: 40%;
      padding: 10px;
    }
  }
}
